.tabs-underlined {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.tabs-underlined .tab-underlined {
  text-align: center;
  align-items: center;
  color: white;
  padding: 8px;
  margin: 120px 120px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid rgb(202, 158, 109);
}
